/* Font Faces */

@font-face {
	font-family: 'GothamBook';
	src: url('../fonts/gotham/GothamBook.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/gotham/GothamBook.woff') format('woff'),
		/* Pretty Modern Browsers */ url('../fonts/gotham/GothamBook.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
	font-family: 'GothamLight';
	src: url('../fonts/gotham/GothamLight.woff2') format('woff2'),
		/* Super Modern Browsers */ url('../fonts/gotham/GothamLight.woff') format('woff'),
		/* Pretty Modern Browsers */ url('../fonts/gotham/GothamLight.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* Global Variables */

:root {
	--bg: #fff;
	--bg2: #eaeaea;
	--font: #000;
	--accent: #838C77;
	--accent2: #263382;
	--accent3: #B0B4B3;
	--accent4: #3b468b;
	--logoMain: #263382;
	--logoSec: #74593B;
}


body {
	background-color: var(--bg);
	width: 100%;
	margin: 0;
	padding: 0;
	color: var(--font);
	font-family: 'GothamLight', sans-serif;
	font-size: 1.2vw;
	animation: Start 0.3s linear forwards;
}

a {
	margin: auto;
	text-decoration: underline #0000;
	color: var(--accent2);
}

p {
	font-weight: 100;
	font-size: 2vw;
}

h1 {
	background: linear-gradient(90deg, var(--accent2), var(--accent4), var(--accent2));
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent;
	font-size: 3vw;
	margin-left: 5vw;
	margin-top: 0.2vw;
	margin-bottom: 0.2vw;
}

h2 {
	font-size: 2.5vw;
	margin-left: 5vw;
	margin-top: 0.2vw;
	margin-bottom: 0.2vw;
	color: var(--accent2);
}

h3 {
	font-size: 2vw;
	margin-left: 5vw;
	margin-top: 2vw;
	margin-bottom: 2vw;
	color: var(--accent2);
}

h4 {
	font-size: 1.5vw;
	margin: auto;
	margin-left: 15vw;
}

h5 {
	font-size: 1.5vw;
	margin: auto;
	width: 80%;
	margin-bottom: 1vw;
}

input {
	width: 5vw;
}

img {
	margin-right: 30%;
}

a:hover {
	animation: FadeNavBar 0.2s linear forwards;
}

footer {
	width: 90%;
	padding: 3vw 0;
	background: var(--bg5);
	margin: auto;
	color: var(--font);
}

footer a {
	color: var(--accent2);
}













/* Selection */

::-moz-selection {
	background: var(--bg);
	color: var(--font);
}

::selection {
	background: var(--bg);
	color: var(--font);
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #070707;
}

::-webkit-scrollbar-thumb {
	background: #151515;
}

::-webkit-scrollbar-thumb:hover {
	background: #151515;
}











/* Classes */

.navBar {
	display: flex;
	width: 80%;
	margin: auto;
	flex-direction: row;
	padding: 1rem 0rem;
}

.navBar img {
	margin-right: 2vw;
}

.navBar h5 {
	text-align: right;
}

.navBar_2 {
	display: flex;
	margin: auto;
	width: 90%;
	flex-direction: row;
	font-size: 1vw;
	text-align: center;
}

.navBar_2 a {
	width: 100%;
	height: 100%;
	padding: 1rem;
	margin: auto;
	color: var(--font);
	background: var(--accent3);
}

.navBar_2 a:hover {
	color: var(--accent3) !important;
	background: var(--accent2) !important;
}

.Logo {
	font-size: 4vw;
	margin: auto;
	text-align: center;
	color: var(--logoMain);
	font-family: 'GothamBook', sans-serif;
}

.Logo_bottom {
	font-size: 2vw;
	margin: auto;
	text-align: center;
	color: var(--logoSec);
}

.text-primary {
	color: var(--accent);
	margin: 0;
}

.selected {
	color: var(--accent3) !important;
	padding: 0.7rem;
	text-decoration: underline;
	background: var(--accent2) !important;
}

.separation {
	margin-bottom: 5vw;
}

.register {
	padding: 1rem;
	outline: 0.1rem solid var(--accent);
}

.itinerario {
	display: flex;
	margin: auto;
	width: 100%;
	flex-direction: column;
	padding: 1rem 1rem;
}

.item-itinerario {
	display: flex;
	margin: auto;
	flex-direction: row;
	padding: 1rem 1rem;
	box-shadow: 0 0.1rem var(--bg3);
}

.footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
	width: 100%;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.footer_col {
	-webkit-box-flex: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	top: 20%;
	margin: auto;
	flex: 0 0 50%;
	max-width: 50%;
	justify-content: center;
	text-align: center;
}

.underline {
	position: relative;
	background: var(--accent2);
	width: 10vw;
	height: 0.4vw;
	transform: translate(-1vw, 1.5vw);
}

.colors {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.content {
	width: 90%;
	padding: 5vw 0;
	margin: auto;
	background-color: var(--bg2);
}

.textimg {
	display: flex;
	margin: auto;
	margin-top: 3vw;
	flex-direction: row;
	width: 90%;
	padding: 1rem 0rem;
	max-width: 100%;
	justify-content: center;
	align-items: center;
	text-align: left;
}

.textimg img, iframe{
	margin-right: 5vw;
	width: 30%;
}

.highlight {
	color: var(--accent2);
}

.PayPal {
	margin: auto;
	font-size: 2vw;
	color: var(--bg);
	background: var(--accent2);
	margin-top: 0;
	top: 0;
	border-radius: 10em;
	padding: 1vw 2vw;
}

.full_flex {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: auto;
	align-items: center;
	justify-items: center;
	text-align: center;
}

.full_flex_col {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 100%;
	text-align: center;
}

.half_flex {
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
	justify-items: center;
}

.half_flex_col {
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: 50%;
	text-align: center;
}

.flex_element {
	margin: auto;
	margin-bottom: 1vw;
	max-width: 50%;
	width: 33%;
}








/* Mobile */

@media screen and (max-width: 1200px) {
	.Logo {
		text-align: center;
		font-size: 8vw;
		width: 100%;
		margin: auto;
	}

	.Logo_bottom {
		text-align: center;
		font-size: 5vw;
		width: 100%;
		margin: auto;
	}

	.navBar {
		margin: auto;
		margin-bottom: 5vw;
		flex-direction: column;
	}

	.navBar img {
		width: 40vw;
		margin: auto;
		transform: translate(3%, 0);
	}

	.navBar h5 {
		padding: 1vw;
		font-size: 3vw;
		width: 100%;
	}

	.Logo {
		margin: auto;
		font-size: 12vw;
	}

	.navBar_2 {
		margin: auto;
		font-size: 1.2vw;
	}

	a {
		font-weight: bolder;
	}

	.footer {
		flex-direction: column;
		font-size: 3vw;
	}
	
	.footer_col {
		font-size: 2vw;
	}
}









/* Animations */

@keyframes Fade {
	100% {
		color: var(--font);
		text-decoration: underline var(--font);
	}
}

@keyframes FadeNavBar {
	100% {
		color: var(--accent3);
		text-decoration: underline var(--accent3);
	}
}

@keyframes Start {
	0% {
		transform: translate(0, 3vw);
		opacity: 0;
	}

	100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}
